[submodule "PaulEngine/vendor/spdlog"]
	path = PaulEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "PaulEngine/vendor/GLFW/GLFW"]
	path = PaulEngine/vendor/GLFW/GLFW
	url = https://github.com/glfw/glfw
[submodule "PaulEngine/vendor/imgui/imgui"]
	path = PaulEngine/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "PaulEngine/vendor/glm"]
	path = PaulEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "PaulEngine/vendor/yaml/yaml-cpp"]
	path = PaulEngine/vendor/yaml/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "PaulEngine/vendor/imguizmo"]
	path = PaulEngine/vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
